h1 {
  padding: 0 40px;
}

section {
  padding: 0 40px;
}

/* carousel styling */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  object-fit: fill;

  .slide {
    text-align: center;

    img {
      display: block;
      width: 100%;
    }

    .caption {
      color: #fff;
      position: absolute;
      font-size: large;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .bars {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .bar {
      width: 40px;
      height: 4px;
      background-color: #ccccccd0;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background-color: #fff;
      }
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
    color: #d1d1d1b6;
    padding: 20px;
    z-index: 1;

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }
  }
}