/* carousel.component.scss */
h1 {
  padding: 0 40px;
}
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

img {
  object-fit: cover;
}

.slide {
  text-align: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bolder;
  font-size: 30px;
  color: #888888;
  padding: 20px;
  z-index: 1;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.caption {
  color: #fff;
  position: absolute;
  font-size: large;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  padding: 0 40px;
}