section {
    padding: 20px 20px;
  }

.slide-list {
    ul {
        li {
            padding: 5px;
        }
    }
}

button {
    margin-left:10px;
    border: none;
    background-color: transparent;
}
