<section>
  <h2>Add new slide</h2>
  <form class="addSlideForm" (ngSubmit)="addSlide()">
    <label for="imageUrl">Image url</label>
    <input type="text" id="imageUrl" placeholder="Image url" [(ngModel)]="newSlide.imageUrl" name="imageUrl" required>
    <label for="caption">Slide caption</label>
    <input type="text" id="caption" placeholder="Caption" [(ngModel)]="newSlide.caption" name="caption" required>
    <button type="submit" class="btn" [disabled]="!newSlide.imageUrl || !newSlide.caption">Add slide</button>
  </form>
</section>